.vscode
launch.json
tasks.json
hello
sum
input
average
swapping
problem1
problem2
problem3
ifcheck
ifcheck2
nestedif
elseif
case
pass
grade
week
numberprint
sumofn
findeven
findprime
pattern
inversepattern
treepatters
multiplication
oddsum
nopatern
notreepatern
array
arraysum
arraysearch
interchangearray
arrayeven
functionwoawrv
palindrome
arrayfunction